#calculatorContainer {
    height: 610px;
    width: 415px;
    background-color: black;
    margin: 0 auto;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
}
#calculatorDisplay {
    width: 415px;
    height: 100px;
    background-color: rgb(33, 33, 33);
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
.calculatorButtons {
    height: 100px;
    width: 100px;
    background-color: rgb(213, 213, 213);
    border: black solid 1px;
    padding: 0;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    cursor: pointer;
}
.calculatorButtons:hover {
    height: 100px;
    width: 100px;
    background-color: rgb(190, 190, 190);
    border: black solid 1px;
}
.orangeButton {
    background-color: rgb(255, 165, 0);
    outline: none;
}
.orangeButton:hover {
    background-color: rgb(228, 149, 3);
}