body {
    background-image: linear-gradient(to bottom, lightgray , black);
    background-repeat: no-repeat;
    height: 100vh;
}
#calculatorContainer {
    height: 610px;
    width: 415px;
    background-color: black;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#calculatorDisplay {
    min-height: 100px;
    text-align: right;
    word-wrap: break-word;
    background-color: rgb(33, 33, 33);
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    grid-column: 1/span 4;
    padding: 10px;
}
.calculatorButtons {
    background-color: rgb(213, 213, 213);
    height: 100px;
    border: black solid 1px;
    padding: 0;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    cursor: pointer;
}
.calculatorButtons:hover {
    background-color: rgb(190, 190, 190);
    border: black solid 1px;
}
.orangeButton {
    background-color: rgb(255, 165, 0);
    outline: none;
    color: white;
}
.orangeButton:hover {
    background-color: rgb(228, 149, 3);
}
#zero {
    grid-column: 1/span 2;
}